# Maven
target/

# Eclipse
.settings/
.metadata/
bin/
tmp/
*.project
*.classpath
*.prefs
*.tmp
*.bak
*.swp
*~.nib
.factorypath
.loadpath
local.properties

# Intellij
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/*
*.code-workspace
.history/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Configuration / Credentials
.config/

# Mac
.DS_Store