* {
    --header-height: 260px;
    --footer-height: 260px;
}

.g6-dark-gray {
    color: #566573;
}

.g6-gray-1 {
    color: lightslategray;
}

.g6-gray-2,
a.g6-gray-2:active,
a.g6-gray-2:visited {
    color: lightslategray;
}

a.g6-gray-2:hover {
    color: black;
}

#home {
    box-sizing: border-box;
    font-variant: small-caps;
}

#home a:link, #home a:visited, #home a:hover, #home a:active {
    text-decoration: none;
    color: black;
}

#home:hover {
    opacity: .75;
}

.nav-item {
    text-align: center;
}

.nav-item i {
    width: 30px;
    padding-right: 10px;
}

#boltUnhovered {
    filter: drop-shadow(3px 3px 2px #000);
}

#boltHovered {
    display: none;
    filter: drop-shadow(2px 2px 2px #000);
}

header {
    height: var(--header-height);
}

main {
    min-height: calc(97vh - var(--footer-height) - var(--header-height));
}

footer {
    height: var(--footer-height);
}


legend {
    margin-bottom: 20px;
}
