.g6-dark-gray {
    color:#566573;
}
.g6-gray-1 {
    color: lightslategray;
}
.g6-gray-2,
a.g6-gray-2:active,
a.g6-gray-2:visited {
    color: lightslategray;
}

a.g6-gray-2:hover {
    color: black;
}