<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- a way to include the head fragment without overriding this head... a bit hacky -->
        <head th:include="fragments :: head-tag"></head>
        <style>
            td { vertical-align: middle !important; }

            /* bg colors from Bootstrap but w/ opacity */
            .overdue  { background-color: rgba(220,  53,  69, .1) !important; }
            .paid::after {
                content: "✓";
                color: green;
                position: relative;
                left: -15px;
                top: 8px;
                font-size: 1.5em;
             }
        </style>
    </head>
    <body>
        <header th:replace="fragments :: banner-and-navbar"></header>
        <main class="container">
            <h1 class="display-5" th:inline="text">[[${#lists.size(bills)}]] bill[[${#lists.size(bills) != 1 ? "s" : ""}]] found.</h1>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Account #</th>
                    <th>Issue Date</th>
                    <th>Due Date</th>
                    <th style="width: 140px">Amount Due</th>
                    <th></th>
                </tr>
                <tr th:each="bill : ${bills}" th:classappend="${bill.rowStyling()}"
                    th:title="${bill.isOverdue() ? 'You are overdue on your payment!' : ''}">
                    <td th:text="${bill.id}"></td>
                    <td th:text="${bill.accountNumber}"></td>
                    <td th:text="${bill.billingDate}"></td>
                    <td th:text="${bill.dueDate}"></td>
                    <td style="text-align: right;" th:text="${#numbers.formatCurrency(bill.amount)}"></td>
                    <td style="text-align: center;">
                        <a th:href="@{|/user/pay-bill?id=${bill.id}|}">
                            <button type="button"
                                class="btn btn-primary"
                                th:if="${!bill.paid}">Pay Now
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </main>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>
