<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- fragment -->
<head th:fragment="head-tag">
    <meta charset="UTF-8">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css" />
    <link href="styles/main.css" rel="stylesheet" />
    <title th:inline="text">[[${@environment.getProperty('spring.application.name')}]]</title>

    <script>
        window.onload = () => {
            let boltUnfilled = document.getElementById('boltUnfilled');
            let boltFilled   = document.getElementById('boltFilled');
            let filledDisplayed = false;

            function toggleBoltFill() {
                if (!filledDisplayed) {
                    boltUnfilled.style.display = 'none';
                    boltFilled.style.display   = 'inline-block';
                    filledDisplayed = true;
                }
                else {
                    boltUnfilled.style.display = 'inline-block';
                    boltFilled.style.display   = 'none';
                    filledDisplayed = false;
                }
            }

            let home = document.getElementById('home');
            home.onmouseenter = toggleBoltFill; home.onmouseleave = toggleBoltFill;
        }
    </script>
</head>

<!-- fragment -->
<div class="container" th:fragment="banner-and-navbar">
    <header class="bg-white">
        <h1 id="home" class="display-4 p-3" th:inline="text">
            <a href="/">
                <svg id="boltUnfilled" class="bi bi-lightning" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.251.068a.5.5 0 01.227.58L9.677 6.5H13a.5.5 0 01.364.843l-8 8.5a.5.5 0 01-.842-.49L6.323 9.5H3a.5.5 0 01-.364-.843l8-8.5a.5.5 0 01.615-.09zM4.157 8.5H7a.5.5 0 01.478.647L6.11 13.59l5.732-6.09H9a.5.5 0 01-.478-.647L9.89 2.41 4.157 8.5z" clip-rule="evenodd"/>
                </svg>
                <svg id="boltFilled" class="bi bi-lightning-fill" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.251.068a.5.5 0 01.227.58L9.677 6.5H13a.5.5 0 01.364.843l-8 8.5a.5.5 0 01-.842-.49L6.323 9.5H3a.5.5 0 01-.364-.843l8-8.5a.5.5 0 01.615-.09z" clip-rule="evenodd"/>
                </svg>
                <span th:inline="text">[[${@environment.getProperty('spring.application.name')}]]</span>
            </a>
        </h1>
        <hr>
        <nav class="navbar navbar-expand-xl navbar-light bg-light g6-gray-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item pr-3">
                        <a class="nav-link" href="#">
                                <span style="font-size: 1.3em">
                                    <i class="fas fa-exclamation-triangle"></i> Outages
                                </span>
                        </a>
                    </li>
                    <li class="nav-item pr-3">
                        <a class="nav-link" href="#">
                                <span style="font-size: 1.3em">
                                    <i class="fas fa-file-invoice-dollar"></i> Pay Bill
                                </span>
                        </a>
                    </li>
                    <li class="nav-item pr-3 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="font-size: 1.3em">
                                    <i class="fas fa-house-user"></i> My Account
                                </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                    <span style="font-size: 1.3em">
                                        <i class="fas fa-id-card"></i> Profile
                                    </span>
                            </a>
                            <a class="dropdown-item" href="/bills">
                                    <span style="font-size: 1.3em">
                                        <i class="fas fa-file-invoice-dollar"></i> Bills
                                    </span>
                            </a>
                            <a class="dropdown-item" href="/usage">
                                    <span style="font-size: 1.3em">
                                        <i class="fas fa-tachometer-alt"></i> Usage
                                    </span>
                            </a>
                            <a class="dropdown-item" href="#">
                                    <span style="font-size: 1.3em">
                                        <i class="fas fa-dolly"></i> Moving
                                    </span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item pr-3 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="font-size: 1.3em">
                                    <i class="fas fa-user-lock"></i> Facilities Management
                                </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="adminDropDownMenu">
                            <a class="dropdown-item" href="/locations">
                                    <span style="font-size: 1.3em">
                                        <i class="fas fa-map-marker-alt"></i> Service Addresses List
                                    </span>
                            </a>
                            <a class="dropdown-item" href="/service-categories">
                                    <span style="font-size: 1.3em">
                                        <i class="fas fa-users-cog"></i> Service Categories
                                    </span>
                            </a>
                            <a class="dropdown-item" href="/subscriptions">
                                    <span style="font-size: 1.3em">
                                        <i class="fas fa-tools"></i> Subscriptions
                                    </span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item pr-3">
                        <a class="nav-link" href="/subscribe-fake">
                                <span style="font-size: 1.3em">
                                    <i class="fas fa-laugh-beam"></i> Subscribe
                                </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" type="button">
                                <span style="font-size: 1.3em">
                                    <i class="fas fa-sign-in-alt"></i> Sign In
                                </span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
    </header>
</div>

<!-- body of page goes here -->

<!-- fragment -->

<div class="container" th:fragment="footer">
    <hr>
    <footer class="page-footer font-small special-color-dark pt-4">
        <div class="text-center bg-light">
            <div class="d-flex justify-content-center flex-row g6-gray-1">
                <div class="p-5">
                    <svg class="bi bi-person-bounding-box mb-3" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    </svg>
                    <h4>Matthew James</h4>
                </div>
                <div class="p-5">
                    <svg class="bi bi-person-bounding-box mb-3" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    </svg>
                    <h4>Christian Kleinvehn</h4>
                </div>
                <div class="p-5">
                    <svg class="bi bi-person-bounding-box mb-3" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    </svg>
                    <h4>Pedro Rebollar</h4>
                </div>
                <div class="p-5">
                    <svg class="bi bi-person-bounding-box mb-3" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    </svg>
                    <h4>Nardos Tessema</h4>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center bg-light pb-2">
                <span>
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1 g6-gray-2" href="https://github.com/nardost/se452-g6" target="_blank">
                                <span style="font-size: 3em">
                                    <i class="fab fa-github"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1 g6-gray-2" href="https://trello.com/b/CTdlbXdV/utility-service-management" target="_blank">
                                <span style="font-size: 3em">
                                    <i class="fab fa-trello"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-gplus mx-1 g6-gray-2" href="https://se452-g6.slack.com/" target="_blank">
                                <span style="font-size: 3em">
                                    <i class="fab fa-slack"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </span>
            <div class="text-secondary text-center">
                <small>
                    DePaul University <i class="fas fa-angle-double-right"></i>
                    CDM <i class="fas fa-angle-double-right"></i>
                    SE352/452 - Object-Oriented Enterprise Application Development <i class="fas fa-angle-double-right"></i>
                    Spring 2020 <i class="fas fa-angle-double-right"></i>
                    Group 6
                </small>
            </div>
        </div>
    </footer>
</div>