<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head-tag"></head>
<body>
<div th:replace="fragments :: banner-and-navbar" />
<div class="container">
    <h1 class="display-1" th:inline="text">[[${#lists.size(locations)}]] locations found.</h1>
    <table class="table table-striped">
        <tr th:each="location, iStat : ${locations}">
            <td th:text="${location}" />
        </tr>
    </table>
</div>
<div th:replace="fragments :: footer" />
</body>
</html>