<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head-tag"></head>
    <body>
        <header th:replace="fragments :: banner-and-navbar"></header>
        <main class="container" style="position: relative;">
            <div class="outage-report">
                <h1 class="display-5" th:inline="text">[[${#lists.size(reports)}]] outage[[${#lists.size(reports) != 1 ? "s" : ""}]] found.</h1>
                <table class="table table-striped">
                    <tr>
                        <th>Account #</th>
                        <th>Datetime</th>
                        <th>Comments</th>
                    </tr>
                    <tr th:each="report : ${reports}">
                        <td th:text="${report.accountId}"></td>
                        <td th:text="${report.outageDatetime}"></td>
                        <td th:text="${report.description}"></td>
                    </tr>
                </table>
            </div>
        </main>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>