<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head-tag"></head>
<body>
<div th:replace="fragments :: banner-and-navbar" />
<div class="container">
    <div class="col-lg-12">
        <h1 class="display-4" th:inline="text">Reset Your Password</h1>
        <form method="post" id="p-reset" th:object="${account}" action="">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Account Number</label>
                    <input class="form-control" type="text" th:placeholder="*{id}" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Your User Name</label>
                    <input class="form-control" type="email" th:placeholder="*{email}" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Password</label>
                    <input class="form-control" type="password" id="password-1" minlength="10" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Confirm Password</label>
                    <input class="form-control" type="password" id="password-2" th:field="*{password}" minlength="10" required>
                    <small class="text-danger" id="warning"></small>
                </div>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Reset Password</button>
            <script>
                const password1 = document.getElementById("password-1");
                const password2 = document.getElementById("password-2");
                const submit = document.getElementById("submit");
                const warning = document.getElementById("warning");
                password2.onblur = function() {
                    submit.disabled = password1.value !== password2.value
                    warning.innerHTML = password1.value !== password2.value ? 'Passwords do not match.' : ''
                }
            </script>
        </form>
    </div>
</div>
<div th:replace="fragments :: footer" />
</body>
</html>