<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head-tag"></head>
    <body>
        <header th:replace="fragments :: banner-and-navbar"></header>
        <main class = "container">
            <h1 class="display-5 mb-4">Detail the outage.</h1>
            <form style="width: 400px;" method="post" th:action="@{/user/report-outage}">
                <fieldset class="form-group">
                    <div style="width: 200px" class="form-row mb-3">
                        <label style="display: block;" class="mb-2">Outage Date</label>
                        <input name="datetime" type="datetime-local" required />
                    </div>
                    <div class="form-row">
                        <label style="display: block;" class="mb-2">Description (optional)</label>
                        <textarea name="description" rows="10" cols="45"></textarea>
                    </div>
                </fieldset>
                <button style="margin: 12px 0" type="submit" class="btn btn-primary">Submit Report</button>
            </form>
        </main>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>