<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head-tag"></head>
    <body>
        <header th:replace="fragments :: banner-and-navbar"></header>
        <main class="container">
            <div class="col-lg-9">
                <form method="post" th:action="@{/subscribe}" th:object="${subscriber}" style="width: 550px;">
                    <fieldset class="form-group">
                        <legend>Subscriber Information</legend>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>First Name</label>
                                <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name" required />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Last Name</label>
                                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8 mb-3">
                                <label>Email</label>
                                <input type="email" class="form-control" th:field="*{email}" placeholder="Email" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8 mb-3">
                                <label>Street Address</label>
                                <input type="text" class="form-control" th:field="*{streetAddress}" placeholder="Street Address" required />
                            </div>
                            <div class="col-md-2 mb-3">
                                <label>Apt./Ste./Unit</label>
                                <input type="text" class="form-control" th:field="*{unit}" placeholder="#" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>City</label>
                                <input type="text" class="form-control" th:field="*{city}" placeholder="City" required />
                            </div>
                            <div class="col-mb-3 mb-3">
                                <label>State</label>
                                <select class="form-control" th:field="*{state}" required>
                                    <option value=""></option>
                                    <option th:each="state : ${states}" th:value="${state}" th:inline="text">[[${state}]]</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label>ZIP Code</label>
                                <input type="text" class="form-control" th:field="*{zipCode}" placeholder="ZIP Code" required />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend>Payment Information</legend>
                        <p class="alert alert-info" role="alert" style="display: inline-block;">
                            Your card information must coincide with the details provided above.
                        </p>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label> Credit Card #</label>
                                <input class="form-control mb-3" type="text" th:field="*{creditCardNumber}" placeholder="1234567890987654" pattern="[0-9]{16}" title="Credit Card Number" minlength="16" maxlength="16" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>Exp. Month</label>
                                <select class="form-control mb-3" th:field="*{mm}" required>
                                    <option value=""></option>
                                    <option value="01">01 - Jan</option>
                                    <option value="02">02 - Feb</option>
                                    <option value="03">03 - Mar</option>
                                    <option value="04">04 - Apr</option>
                                    <option value="05">05 - May</option>
                                    <option value="06">06 - Jun</option>
                                    <option value="07">07 - Jul</option>
                                    <option value="08">08 - Aug</option>
                                    <option value="09">09 - Sep</option>
                                    <option value="10">10 - Oct</option>
                                    <option value="11">11 - Nov</option>
                                    <option value="12">12 - Dec</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Exp. Year</label>
                                <input class="form-control mb-3" type="text" th:field="*{yyyy}" placeholder="YYYY" pattern="20[2-9]{1}[0-9]{1}" minlength="4" maxlength="4" required>
                            </div>
                            <div class="col-md-3">
                                <label>CVV</label>
                                <input class="form-control mb-3" type="text" th:field="*{cvv}" placeholder="CVV" pattern="[0-9]{3,4}" minlength="3" maxlength="4" required>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend>Type of Service</legend>
                        <div class="form-row">
                            <div class="col-sm-10 mb-3">
                                <div class="form-check" th:each="category : ${categories}" >
                                    <input class="form-check-input" type="radio" name="category" th:field="*{serviceType}" th:value="${category}" th:id="${category}" required>
                                    <label class="form-check-label" th:text="${category}"></label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="acceptTerms" required>
                                <label class="form-check-label" for="acceptTerms">Accept Terms and Conditions</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </main>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>
