<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head-tag"></head>
    <body>
        <div th:replace="fragments :: banner-and-navbar"></div>
        <div class="container">
            <h1 class="display-5">Your meter usage.</h1>
            <table class="table table-striped">
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>kWh Used</th>
                </tr>
                <tr th:each="usageData : ${meter.usage}">
                    <td th:text="${#temporals.format(T(java.time.Instant).parse(usageData.from), 'MMM d, yyyy HH:mm:ss', #locale)}"></td>
                    <td th:text="${#temporals.format(T(java.time.Instant).parse(usageData.to), 'MMM d, yyyy HH:mm:ss', #locale)}"></td>
                    <td th:text="${usageData.kwhUsed}"></td>
                </tr>
            </table>
        </div>
        <div th:replace="fragments :: footer"></div>
    </body>
</html>
